<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.2.3/dist/css/ionicons.min.css" href="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <nav>
            <img class="userPic" src="/images/profile.png" alt="profile picture">


            <div class="userdetails">
                <h1>Kerkphon</h1>
                <h1>Ketboonsai</h1>
                <span>Quality Assurance Techincal</span>
            </div>
            <div class="home">
                <ion-icon name="school"></ion-icon>
            </div>

            <div class="projects">
                <ion-icon name="folder-sharp"></ion-icon>
            </div>

            <div class="contact">
                <ion-icon name="mail"></ion-icon>
            </div>
        </nav>
        <div class="info">
            <div class="experience">
                <h2>Employment<span>
                        <ion-icon name="briefcase-sharp"></ion-icon>
                    </span></h2>
                <hr>
                <h4>Quality Assurance Intern at Amazon<span id="right"> 2020-2021</span> </h4>
                <h4>Store Manager<span id="right"> 2017-2020</span>
                    <ul>
                        <li>• Managed and trained 5+ employees through quality customer service and disciplinary action,
                            resulting in a 100% customer satisfaction rate</li>
                        <li>• Evaluate food quality in order to uphold the company's high expectations with a 4.3+
                            rating on yelp and over 190+ reviews, to provide feedback and suggestions for improvements
                            on the menu </li>
                        <li>• Resolved 20 + customer problems by telephone and in-person daily by demonstrated strong
                            service skills to ensure the quality of customer experience </li>
                    </ul>

            </div>
            <div class="employment">
                <h2>Education<span>
                        <ion-icon name="ribbon"></ion-icon>
                    </span></h2>
                <hr>
                <h4> Seattle Central College<span id="right"> 2018-2020</span>
                    <ul>
                        <li> AA Degree </li>
                    </ul>
                </h4>
                <h4>Year Up<span id="right"> 2020-2021</span>
                    <ul>
                        <li>Completed coursework in Software Development, Web Development, HTML, CSS, JavaScript, Excel,
                            SQL, and Business Communications. </li>
                </h4>
                <h4>Seattle Central College<span id="right"> 2020-2021</span>
                    <ul>
                        <li>Associate of Science </li>
                    </ul>
                </h4>

            </div>
            <div class="skills">
                <h2>Skills<span>
                        <ion-icon name="flash"></ion-icon>
                    </span></h2>
                <hr>
                <h4>
                    <ul>
                        <li>HTML </li>
                        <li>CSS </li>
                        <li>JS </li>
                        <li>Java </li>
                        <li>MySQL </li>
                    </ul>
                </h4>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>


</body>

</html>